/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

body{
  margin: 15px;
  
  border: 10px solid purple;
}

.white-text {
  position: relative;
  background-color: red;
  padding: 8px;
  color: white;
}